
.footer{
    width: 100%;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(194, 194, 194);
    padding-top: 5px;
}
.footer1{
    display: flex;
    flex-direction: column;
}
.footer2 img{
    margin: 3px;
    cursor: pointer;
}
.footer3{
    width: 100%;
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid black;
}
ul li{
    list-style-type: none;
    text-align: left;
    font-size: .8rem;
    cursor: pointer;
}
.footer-main{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    align-items: flex-start;
}
.footer-main p{
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
}
.footer4 i{
    margin: 5px;
    cursor: pointer;
}
.footer-last{
    width: 100%;
    background-color: #002f34;
    color: #fff;
    text-align: center;
    font-size: .8rem;
    padding: 10px;
}
