.hide{
    display: none;
}
.main{
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    z-index: 1;
}
.navbar{
    position: relative;
    padding: 30px;
}
.right_nav{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    position: absolute;
    right: 80px;
}
.right_nav div{
    text-decoration: none;
    margin: 8px;
    text-align: center;
    cursor: pointer;
}
.log{
    color:#e21b70;
    border:1px solid #e21b70;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.5s;
}
.log:hover{
    background-color: pink;
    padding: 8px 12px;
}
.sign{
    background-color: #e21b70;
    color: aliceblue;
    border:1px solid #e21b70;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.5s;
}
.sign:hover{
    padding: 8px 12px;
}
.profile{
    display: none;
}

@media screen and (max-width: 600px) 

{
    .profile {
        display: block;
    }
    .right_nav{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .log{
        text-align: center;
    }
}
@media only screen and (width: 768px){
    .profile {
        display: block;
    }
    .right_nav{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .log{
        text-align: center;
    }}